@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Libre+Franklin:wght@500;600&family=Montserrat:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-azure: #EFF5F5;
  --clr-zicron: #D6E4E5;
  --clr-ming: #497174;
  --clr-flamingo: #EB6440;

  /* fonts */
  --ff-title: 'Libre Franklin', sans-serif;
  --ff-sub-title: 'Inconsolata', monospace;
  --ff-paragraph: 'Montserrat', sans-serif;

  --fw-semi-bold: 600;
  --fw-md: 500;
  --fw-reg: 400;
  --fw-light: 300;
}

body {
  font-family: var(--ff-paragraph);
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.App {
  background-color: var(--clr-azure);
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  text-align: center;
}


.app_title {
  font-family: var(--ff-title);
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  width: 1000%;
}

.nav_item {
  width: 15rem;
}

.nav_item:hover {
  cursor: pointer;
}

.link {
  color: var(--clr-ming);
  font-family: var(--ff-paragraph);
  font-weight: var(--fw-semi-bold);
}

.main_container {
  width: 100%;
}

.selection_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection_container select {
  min-width: 20rem;
  height: 2rem;
  font-family: var(--ff-sub-title);
  font-weight: var(--fw-md);
  font-size: 1.2rem;
}

.selection_container p {
  margin: 1em auto;
}

.cards_container, .grouped_members_container {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.card {
  border-radius: .5rem;
  min-width: 18rem;
  background-color: var(--clr-ming);
  padding: 1em 0;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

img {
  width: 15rem;
}

.grouped_members {
  background-color: var(--clr-flamingo);
  border-radius: .5rem;
  padding: 1em;
}


.grouped_team_name {
  font-family: var(--ff-sub-title);
  font-size: 1.5rem;
}

.member_info_container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.collapse {
  display: none;
}

.show_members {
  display: flex;
  flex-direction: column;
  gap: 1em; 
  padding: 1em 0;
}

@media screen and (min-width: 768px) {
  .cards_container, .grouped_members_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .cards_container, .grouped_members_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}